{% extends 'base.html' %}

{% block head %}
    <style type="text/css">
      body > .grid {
        height: 100%;
      }

      .image {
        margin-top: -100px;
      }

      .column {
        max-width: 450px;
      }
    </style>
{% endblock %}

{% block container %}
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui red image header">
          <div class="content">
            Log-in to your account
          </div>
        </h2>

        <form class="ui large form">
          <div class="ui stacked segment">
            <a class="ui fluid large red submit button" href="/connect/todoist">
              Log in with Todoist
            </a>
          </div>

          <div class="ui error message"></div>
        </form>
      </div>
    </div>
{% endblock %}
