.current-task {
  font-size: 14pt;
}

.main-column {
  padding-top: 2em !important;
}

.main-header {
  margin-bottom: 1em !important;
}

.task-container {
  border-bottom: none !important;
  padding: 1.5em !important;
}

kbd {
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: monospace;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}

.button kbd,
.menu .item kbd {
  margin-right: 1em;
}
